<?xml version="1.0" ?>

<launch>
    <include file="$(find cbf_controllers)/launch/common.launch"/>
    <include file="$(find cbf_controllers)/test/dcbf_robot.launch"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
          controllers/dcbf_simple_controller
"/>

</launch>
